[user]
    name = Jerry Haagsma
    email = haagsmag@gmail.com

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    last = log -1 HEAD
    lg = log --oneline --graph --decorate --all
    unstage = reset HEAD --
    amend = commit --amend --no-edit
    recent = !git branch -r --sort=-committerdate --format='%(refname:short) %(committerdate:relative)' | head -n 10
    prune-local = "!git fetch -p && git branch -vv | awk '/: gone]/{print $1}' | xargs -r git branch -d"

[init]
    defaultBranch = main
